<div class="fs-3 text-center m-3 mt-5">Order Calculator</div>
<%= form_for :calc, url: root_path, method: 'get' do |f| %>
  <div class="col-sm-8 m-auto">
    <div class="input-group input-group-lg">
      <%= f.text_field :value, value: @input, class: "form-control text-center", autocomplete: false %>
    </div>
    <div id="valueHelp" class="form-text">
      Hint: Enter the quantity followed by the format code.
      <br/>
      Example: "10 IMG 15 FLAC 20 VID"
    </div>
    <div class="buttons text-center mt-3">
      <%= f.submit "Calculate", class: "btn btn-lg btn-success" %>
    </div>
  </div>
<% end %>