<% if user_signed_in? %>
  <div class="display-4 text-center">
    Welcome, <%= current_user.email.split('@').first %>!
  </div>
<% else %>
  <div class="display-4 text-center">
    Welcome to Tribe:Calc!
  </div>
<% end %>
<%= render('format_table') %>
<%= render('calculator_form') %>